.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  border: 0 solid #dfecea;
  border-radius: 12px;
}

.App-header {
  background-color: #dfecea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #373e44;
  border-radius: 8px;
}

.App-link {
  color: #61fbb3;
}
.Homework {
  margin-top: 20px;
  font-size: 15px;
  color: #a9b2bb;
}
.type-request {
  margin-top: 20px;
}
.App h1 {
  font-weight: 800;
}
.App footer {
  margin-top: 10px;
  font-size: 12px;
}
