.Photos {
  margin: 20px auto 10px;
}
.Photos img {
  border-radius: 6px;
  margin-bottom: 10px;
}
.Photos section {
  background-color: #fff;
  border: 1px solid #f7f201;
  border-radius: 8px;
  margin-top: 16px;
  padding: 8px 12px;
}
.Photos span {
  color: #577583;
  font-size: 13px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
}
