.Results {
  text-align: left;
}
.Results h2 {
  margin-top: 20px;
  margin-left: 10px;
  font-family: Georgia, serif;
  font-size: 36px;
}

.Results section {
  background-color: #fff;
  border: 1px solid #f7f201;
  border-radius: 8px;
  margin-top: 16px;
  padding: 8px 12px;
}
