.Synonyms ul {
  padding-left: 1px;
  font-size: 14px;
  color: #466677;
}
.Synonyms li {
  display: inline-block;
  padding: 3px 10px;
  margin: 4px 6px;
  background-color: #f7f201;
  border-radius: 8px;
}
